# Unity-tiedostot ja -kansiot
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Ll]ogs/
/[Uu]serSettings/
/.vs/
/*.csproj
/*.sln
/*.unitypackage

# Custom: .cube, .exr, .png -tiedostot (jos et halua niitä versionhallintaan)
*.cube
*.exr
*.png

# Autogeneroidut tiedostot
*.pidb
*.suo
*.userprefs

# VS Code -asetukset (jos käytät)
.vscode/